# URL de l'API CasaQ Symfony
# Local exemple : http://localhost:8000
# Production exemple : https://crm.casaq.ch
CASAQ_API_BASE_URL=

# Secret utilisé par CasaQ pour demander à Next.js de vider/revalider son cache
CASAQ_REVALIDATE_SECRET=change-me

# URL publique du moteur de sites
# Production exemple : https://sites.casaq.ch
NEXT_PUBLIC_SITE_ENGINE_URL=http://localhost:3000